*			text=auto
*.cs		diff=csharp
*.sln		linguist-language=xml  merge=binary
*.atlas		linguist-language=yml  linguist-detectable
*.yml		linguist-language=yml  linguist-detectable
*.frag		linguist-language=GLSL linguist-detectable
*.vert		linguist-language=GLSL linguist-detectable